# Database
DATABASE_URL=

# BetterAuth
BETTER_AUTH_SECRET=

# OpenAI compatible provider
OPENAI_API_KEY=

# GitHub App
GITHUB_APP_ID=
GITHUB_APP_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
GITHUB_WEBHOOK_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Razorpay
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
RAZORPAY_WEBHOOK_SECRET=

# Inngest
INNGEST_EVENT_KEY=

# App
NEXT_PUBLIC_APP_URL=
